html{
  background-color: black;
}

html,
body {
  padding: 0;
  margin: 0.21vw;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2{
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: large;
}

h3{
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: small;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* inputs */
.inputText {
  width:100vw;
}

/* floats, grids */
.left{
  text-align: left;
  font-size: small;
}

.marker-state_candidate{
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.marker-district_candidate{
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.afd{
  background-color: #009ee0; 
}

.iii_weg{
  background-color: #224e2a; 
}

.wu{
  background-color: #013B5B; 
}

.marker-entity{
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.associations::before {
  content: "🏢"; 
  font-size: 21px;
}

.media::before {
  content: "📡"; 
  font-size: 21px;
  filter: invert(1);
}

.organizations::before {
  content: "🧿"; 
  font-size: 21px;
}

.locations::before {
  content: "☠️";
  font-size: 21px;
}

.fraternities::before {
  content: "🤺"; 
  font-size: 21px;
  filter: hue-rotate(120deg);
}

.settlers::before {
  content: "⛺"; 
  font-size: 21px;
  filter: hue-rotate(120deg);
}

.invert{
  filter: invert(0);
}

.noBorder{
  border: none;
}