html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2{
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: large;
}

h3{
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: small;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* inputs */
.inputText {
  width:100vw;
}

/* floats, grids */
.left{
  text-align: left;
  font-size: small;
}

/* marker classes */
.marker-afd{
  width: 14px;
  height: 14px;
  background-color: #009ee0; 
  border-radius: 50%; /* Make it round */
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-iii_weg{
  width: 14px;
  height: 14px;
  background-color: #224e2a; 
  border-radius: 50%; /* Make it round */
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-wu{
  width: 14px;
  height: 14px;
  background-color: #013B5B; 
  border-radius: 50%; /* Make it round */
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-office{
  width: 14px;
  height: 14px;
  border-radius: 50%; /* Make it round */
}

.marker-office::before {
  content: "🏢"; 
  font-size: 21px;
}


.marker-media {
  width: 14px;
  height: 14px;
  border-radius: 50%; /* Make it round */
}

.marker-media::before {
  content: "📡"; /* Use the skull emoji */
  font-size: 21px;
  filter: invert(1);
}

.marker-organizations{
  width: 14px;
  height: 14px;
  border-radius: 50%; /* Make it round */
}

.marker-organizations::before {
  content: "🧿"; /* Use the skull emoji */
  font-size: 21px;
}

.marker-locations {
  width: 14px;
  height: 14px;
  border-radius: 50%; /* Make it round */
}

.marker-locations::before {
  content: "☠️"; /* Use the skull emoji */
  font-size: 21px;
}

.marker-fraternities {
  width: 14px;
  height: 14px;
  border-radius: 50%; /* Make it round */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.marker-fraternities::before {
  content: "🤺"; /* Use the skull emoji */
  font-size: 21px;
  filter: hue-rotate(120deg);
}

.marker-settlers{
  width: 14px;
  height: 14px;
  border-radius: 50%; /* Make it round */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.marker-settlers::before {
  content: "⛺"; /* Use the skull emoji */
  font-size: 21px;
  filter: hue-rotate(120deg);
}

.invert{
  filter: invert(0);
}

.noBorder{
  border: none;
}