:root{
  --primary: rgb(255, 233, 252);
  --secondary: black;
  --tertiary: rgba(255,0,0,0.77);
  --quaternary: yellow;
  --quinary: green;
}

/* Scrollbar */
/* The scrollbar container */
::-webkit-scrollbar {
  width: 12px;              /* Width of the scrollbar */
}

/* The track (background) */
::-webkit-scrollbar-track {
  background: var(--secondary)
}

/* The handle (scrollbar thumb) */
::-webkit-scrollbar-thumb {
  background-color: var(--tertiary);
  border-radius: 0.42rem !important;
  border: 2px solid var(--secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;    /* Darker color on hover */
}


html,
body {
  padding: 0;
  background-color: var(--secondary);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2{
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: large;
}

h3, h4, h5, h6{
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: small;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* buttons */	
button {
  background-color: var(--tertiary);
  color: var(--secondary);
  border: none;
  padding: 0.14rem 0.21rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0.42rem !important;
  color: var(--primary);
}

button:hover {
  background-color: var(--quaternary);
  color: var(--secondary);
}

input{
  margin-bottom: 0.42rem;
}

label{
  color: var(--primary);
  font-size: xx-small;
}

.inputText {
  width:100vw;
  border-radius: 0.42rem;
}

/* floats, grids */
.left{
  text-align: left;
  font-size: small;
}

.flex{
  display: flex;
}

/* ############################# */
/* Type & Organization styling */

.federal{
  justify-content: center;
}

.state {
  justify-content: center;
}

.district {
  justify-content: center;
}

.associations {
  justify-content: center;
}

.media {
  justify-content: center;
}

.locations {
  justify-content: center;
}

.events {
  color: yellow;
}

.events-bg {
  background: yellow !important;;
}

.fraternities {
  color: darkred;
}

.fraternities-bg {
  background: darkred !important;;
}

.settlers {
  color: brown;
}

.settlers-bg {
  background: brown !important;
}

.afd{
  color: #009ee0;
}

.afd-bg{
  background: #009ee0 !important;
}

.iii_weg{
  color: #224e2a;
}

.iii_weg-bg{
  background: #224e2a !important;
}

.wu{
  color: #013B5B;
}

.wu-bg{
  background: #013B5B !important;
}

.fundis{
  color: rgb(238, 156, 170);
}

.fundis-bg{
  background: rgb(238, 156, 170) !important;
}

/* ############################# */

.svg-inline--fa {
  height: auto !important; 
  width: auto;
  vertical-align: middle;
}

.invert{
  filter: invert(0);
}

.noBorder{
  border: none;
}

.bg-primary{
  background-color: var(--primary);
}

.bg-secondary{
  background-color: var(--secondary);
}

.bg-tertiary{
  background-color: var(--tertiary);
}

.bg-quaternary{
  background-color: var(--quaternary);
}

.quinary{
  background-color: var(--quinary);
}

/* ############################# */
/* leaflet */

.leaflet-right {
  right: 14px !important;
}

.leaflet-popup-content-wrapper {
  color: var(--primary) !important;
  background-color: var(--secondary) !important;
  max-height: 77vh !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  border-radius: 0.42rem !important;
}

/* General styling for the popup */
.leaflet-popup-content {
  padding: 20px;
  border-radius: 0.42rem !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 320px;
  display: inline-table;
}

.leaflet-control-layers {
  background-color: var(--secondary) !important;
  border: none !important;
}

/* ############################# */


