.title {
  font-size: 3rem;
  line-height: 1.15;
  text-align: center;
  margin: 0 0 1em;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.view {
  text-align: center;
  margin-top: 3em;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.partyControls{
  position: absolute;
  left: 0;
  z-index: 1001;
  width: 7rem;
  bottom: 2.8vh;
}

.inputText {
  font-size: 1.4em;
  background: rgb(11, 0, 10);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.14rem;
  border-radius: 0.5em;
  position: relative;
  z-index: 1000;
}

.inputText:focus {
  outline: none;
}

.socialLinks{
  position: absolute;
  right: 0;
  z-index: 1001;
  width: 7rem;
  top: 2.8vh;
}

.header {
  z-index: 1001;
  height: 2.1rem;
  position: absolute;
}

.searchBox {
  margin-left: 3.5rem;
  margin-top: 0.42rem;
  position: absolute;
}

.logo {
  position: absolute;
  left: 0.42rem;
  z-index: 9999;
  top: 0.14rem;
}

