.layout {
  display: grid;
  grid-template-rows: auto auto;
  overflow: hidden;
  min-height: 100vh;
}

.main {
  padding: 0 0 0em;
}

.logo {
  position: absolute;
  left: 0.42rem;
  z-index: 9999;
  margin-top: -0.35rem;
}
