.personContainer{
    width: 280px;
}

.personHeader{
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; 
    background-color: var(--secondary);
    z-index: 10; /* Keeps the header above the scrolling content */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(var(--primary) 0.1); /* Optional: Adds a shadow for better visibility */
}

.personData{
    overflow-y: auto;
    padding-top: 20px; /* Optional: Add some padding so content doesn't stick to the header */
}

.personEdit li input {
    width: 100%;
    border-bottom: 1px solid var(--secondary);
    background: var(--primary);
    color: var(--secondary);
    border-radius: 0.42rem;
}

.personEdit li input[type="text"] {
    width: 100%;
    border-bottom: 1px solid var(--secondary);
    background: var(--primary);
    color: var(--secondary);
    border-radius: 0.42rem;
}

.addAttributes input[type="text"] {
    width: 100%;
    border-bottom: 1px solid var(--secondary);
    background: var(--primary);
    color: var(--secondary);
    border-radius: 0.42rem;
}

.addSocialMedia li input[type="text"] {
    width: 100%;
    border-bottom: 1px solid var(--secondary);
    background: var(--primary);
    color: var(--secondary);
    border-radius: 0.42rem;
}

.personImage {
    max-width: 100%;
    border-radius: 0.42rem;
}

.updateButton {
    height: 4.2vh;
    width: 100%;
}

.updateButton:hover {
    background-color: var(--quaternary);
    color: var(--secondary);
}

.deleteButton {
    background: var(--tertiary);
}