.personEdit input {
    width: 100%;
    height: 7vh;
    font-size: 4.2vh;
    padding: 0 1vw;
    border: none;
    border-bottom: 1px solid var(--secondary);
    background: var(--primary);
    color: var(--secondary);
}

.updateButton {
    height: 7vh;
    font-size: 4.2vh;
    float: right;
}

.updateButton:hover {
    background-color: var(--quaternary);
    color: var(--secondary);
}

.deleteButton {
    background: var(--tertiary);
}