.map {
  width: 100vw;
}

.electoralSwitch select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: var(--secondary);
  color: var(--primary);
  z-index: 9999;
  position: relative;
  margin-top: 2.8rem;
}
