.map {
  width: 100vw;
}

.electoralSwitch select {
  padding: 0.42rem;
  font-size: 0.7rem;
  border: none;
  border-radius: 0.42em;
  background-color: var(--secondary);
  color: var(--primary);
  z-index: 9999;
  position: relative;
  margin-top: 2.1rem;
  display: block;
  margin-left: 0.63rem;

  &:focus, 
  &:active {
    background-color: var(--secondary); /* Background when focused or active */
    border-color: var(--primary); /* Optional: change border color to match */
  }
}

.electoralSwitch select option {
  background-color: var(--secondary);
  color: var(--primary);
}



